@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style Header and Navigation */

header {
    height: 75px;
    background-color: #252525;
}


#logo {
    line-height: 75px;
}

#nav-links {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

button {
    background-color: chartreuse;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: inherit;
}

button a:hover {
    background-color: red;
    opacity: 0.6;
}

.active {
    border-bottom: 1px solid #3a3a3a;

}


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: antiquewhite;
}

/* Headings and logo */
h1 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: antiquewhite;
}

h2 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    font-size: 150%;
    text-align: center;
    position: relative;
}

li {
    float: right;
    list-style: none;
}

/*main image */

#main-image-section {
    background-color: #252525;

}

#main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10%;

}

/* description */

#description {
    float: left;
}




/* social media */

#social-media-links {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;

}

#social-media-links>li {
    padding: 20px;

}

/* Class schedule */

table {
    width: 100%;
    border-style: solid;
    text-align: center;
    font-family: inherit;
    border-width: 2px;
    background-color: #252525;
}

td {
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
}

.kids {
    color: chartreuse;
}

.circuits {
    color: aqua;
}

.sparring {
    color: crimson;
}

.advanced {
    color: gold;
}

.fundamentals {
    color: paleturquoise;
}

#days {
    color: antiquewhite;
}

/* Trial class form */





form {
    position: fixed;
    text-align: center;
    display: block;
    width: 100%;
    z-index: 1;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
    width: 100%;
}

#mma {
    opacity: 0.7;
}