@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style Header and Navigation */

nav {
    display: flex;
}

#menu {
    /* position: absolute; */
    /* list-style-type: none; */
    /* right: 0; */
    /* top: 30px; */
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    flex-direction: row-reverse;
    margin-top: 15px;
}



li {
    border: none;
    color: ghostwhite;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    border-bottom: 2px solid ghostwhite;
    color: #23487f;

}

.active {
    border-bottom: 1px solid ghostwhite;

}


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: ghostwhite;
    background-color: black;
}

/* Headings and logo */
h1 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: ghostwhite;
    font-size: 80px;
}

h2 {
    text-align: center;
    font-size: 260%;
    color: ghostwhite;
    padding: 100px;
    margin-top: 0;
    font-family: 'Forum', cursive;
    text-transform: uppercase;

}

#logo {
    font-size: 200%;
    margin-left: 40px;
    margin-top: 40px;
}


li {
    float: right;
    list-style: none;
}

/*Hero image */

#main-image-section {
    margin-bottom: 0;
    background-color: ghostwhite;
}

#main-image {
    width: 100%;
    height: auto;
    margin-bottom: 0;

}

h2>i {
    color: darkgrey;
}

/* Why train with us */

.hr-75 {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 75%;
}

.hr-75-white {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 75%;
    color: ghostwhite;
}

p {
    font-size: 25px;
    /*width: 100%;*/
    text-align: center;
    padding: 20px;
    margin: 12px;
    margin-bottom: 0;

}

#left-about {}

#right-about {}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
    margin-top: ;
}

.left-about-headin>h2 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 200%;
    color: #252525;
    text-align: center;
    padding: 20px;
    margin: 12px;
}

.left-about-heading>h2 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 200%;
    color: #252525;
    text-align: center;
    padding: 20px;
    margin: 12px;
}

.right-about-heading h2 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 200%;
    color: #252525;
    text-align: center;
    padding: 20px;
    margin: 12px;
}

#why-train {
    text-align: center;
    font-size: 260%;
    color: #252525;
    padding: 100px;
    margin-top: 0;
    font-family: 'Forum', cursive;
}


/* video */

#video-section {
    width: 100%;
}

#submission-video {
    width: 40%;
    float: left;
}

#kimura-video {
    width: 40%;
    float: right;
}

#ground-video {
    width: 40%;
    float: right;
}

/* description */

#about-us {
    background-color: ghostwhite;
    color: #252525;
    /* height: 600px;*/
}

.section {
    /* height: 600px;*/
    width: 100%;
    /* position: relative;*/
    background-color: black;
    color: ghostwhite;
}

#history {
    float: left;
    text-align: left;
    width: 40%;
    font-size: 1.5em;
}

#no-gi {
    float: right;
    text-align: right;
    width: 40%;
    font-size: 1.5em;
}

#worst-case {
    float: left;
    text-align: left;
    width: 40%;
    font-size: 1.5em;
}





/* social media */

#social-media-links {
    /* bottom: 0;
    right: 0;
    width: 300px;
    display: inline;*/
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;

}

#social-media-links>li {
    /* padding: 20px; */
    background-color: rgba(41, 27, 237);
    border-radius: 40%;
    color: ghostwhite;
    /* font-size: 160%; */
    margin: 5%;
    padding: 1.25rem;
    display: flex;
}

footer {
    background-color: ghostwhite;
    display: flex;
}

#map {
    height: auto;
    width: 100%;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    #social-media-links {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    #social-media-links>li {
        background-color: rgba(41, 27, 237);
        border-radius: 40%;
        color: ghostwhite;
        margin: 5%;
        padding: 1.25rem;
    }

    footer {
        background-color: ghostwhite;
        display: flex;
    }


}

@media only screen and (max-width: 768px) {

    #main-image {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    #why-train {
        text-align: center;
        font-size: 200%;
        color: #252525;
        padding: 20px;
        margin-top: 0;
        font-family: 'Forum', cursive;
    }

    .left-about-heading>h2 {
        font-family: 'Forum', cursive;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 150%;
        color: #252525;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }

    .right-about-heading>h2 {
        font-family: 'Forum', cursive;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 150%;
        color: #252525;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }

    .left-about-heading,
    .right-about-heading>p {
        text-align: center;
        padding: 5px;
        margin: 5px;
        margin-bottom: 0;
    }

    h2 {
        text-align: center;
        font-size: 200%;
        color: ghostwhite;
        padding: 20px;
        margin-top: 0;
        font-family: 'Forum', cursive;
    }

    .hr-75 {
        display: block;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        width: 75%;
    }

    .hr-75-white {
        display: block;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        width: 75%;
        color: ghostwhite;
    }

    #history {
        text-align: center;
        padding: 5px;
        margin: 5px;
        margin-bottom: 0;
        width: 100%;
    }

    #no-gi {

        text-align: center;
        padding: 5px;
        margin: 5px;
        margin-bottom: 0;
        width: 100%;

    }

    p {
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 5px;
        margin: 5px;
        margin-bottom: 0;
    }

    #kimura-video {
        height: auto;
        width: 100%;
    }

    #submission-video {
        height: auto;
        width: 100%;
    }

    #worst-case {
        height: auto;
        width: 100%;
    }

    #ground-video {
        height: auto;
        width: 100%;
    }

    #map {
        height: auto;
        width: 100%;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 768px) {}

/* Class schedule */

#schedule-image {
    width: 100%;
    margin-bottom: -10px;

}

table {
    width: 100%;
    border-style: solid;
    text-align: center;
    font-family: inherit;
    border-width: 2px;
    background-color: darkslategray;
    margin-top: 5%;
}

td {
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
}


.kids {
    color: chartreuse;
}

.circuits {
    color: aqua;
}

.sparring {
    color: black;
}

.advanced {
    color: gold;
}

.fundamentals {
    color: paleturquoise;
}

#days {
    color: antiquewhite;
}

hr {
    display: block;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    margin-top: 0;
}

/* Trial class form */

/* use for media querie 
#float-left {
    float: left;
    width: 50%;
    height: 100%;
    height: 1000px;
}
 */

/* media querie
 #float-right {
   
    float: right;
    width: 50%;
    height: 100%;
    height: 1000px;
    background-color: black;
}  */

form {

    /* media querie
    position: relative;
    top: 10%;
    left: 10%;
    text-align: right;
    color: ghostwhite;
    font-size: 30px;
    letter-spacing: 5px;
    margin-right: 5em; */

    color: ghostwhite;
    /* text-align: right; */
    margin: 20px;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 15%;
    text-align: center;
    justify-content: center;
    display: grid;
}


@media only screen and (max-width: 768px) {
    form {
        color: ghostwhite;
        margin: 20px;
        margin-top: 60px;
        margin-bottom: 60px;
        padding: 15%;
        text-align: center;
        justify-content: center;
        display: grid;
    }

}

textarea {
    width: 100%;
}

.form-input {
    padding: 8px;
}


#form-submit {

    background-color: ghostwhite;
    padding: 5%;
    font-size: 20px;
}

#form-submit:hover {
    background-color: rgba(41, 27, 237);
    color: ghostwhite;
}

#trial-image {
    width: 100%;
    height: auto;
    margin: 5px;
}