@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Style Header and Navigation */

header {
    height: 75px;
}


#logo {
    line-height: 75px;
    border-bottom: none;
}

#menu {
    position: absolute;
    list-style-type: none;
    right: 0;
    top: 40px;
}

li {border: none;
    color: #252525;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: inherit;
}

li a:hover {
    border-bottom: 2px solid #252525;
    
}

.active {
    border-bottom: 1px solid #3a3a3a;

}


body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #252525;
    background-image: url(../images/cool-background\ \(3\).png);
    
}

/* Headings and logo */
h1 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
    font-size: 60px;
}

h2 {
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    font-size: 200%;
    float: left;
    margin-left: 10%;
}

li {
    float: right;
    list-style: none;
}

/*Hero image */

#main-image-section {
    background-color: white;

}

#main-image {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10%;
    

}

/* description */

#description {
    float: left;
}




/* social media */

#social-media-links {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;

}

#social-media-links>li {
    padding: 20px;

}

/* Class schedule */

table {
    width: 100%;
    border-style: solid;
    text-align: center;
    font-family: inherit;
    border-width: 2px;
    background-color: #252525;
}

td {
    border-style: solid;
    border-width: 2px;
    border-color: antiquewhite;
}

.kids {
    color: chartreuse;
}

.circuits {
    color: aqua;
}

.sparring {
    color: crimson;
}

.advanced {
    color: gold;
}

.fundamentals {
    color: paleturquoise;
}

#days {
    color: antiquewhite;
}

/* Trial class form */





form {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 30%;
    background-image: url(../images/cool-background\ \(1\).png);
    padding-top: 10px;  
    padding-bottom: 10px;
    border-radius: 5%;
}

.row {
    display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
    flex: 33.33%;
    padding: 5px;
    width: 100%;
}

#mma {
    opacity: 0.7;
}